In [6]:
my_name = "Toomtam"
my_age = "30"

text = f"My name is {my_name}, I am {my_age} year old."
print(text)

My name is Toomtam, I am 30 year old.

In [7]:
#.upper
text = "Toomtam is so handsom"

text.upper()

'TOOMTAM IS SO HANDSOM'

In [8]:
#.count
text.count("a")

2

In [9]:
#replace
text2 = text.replace('Toomtam','ToY')

In [10]:
print(text)
print(text2)

Toomtam is so handsom
ToY is so handsom

In [13]:
#list
shopping_list = ['egg', 'milk', 'bread']
print(shopping_list)
print(shopping_list[1])
print(shopping_list[0:2])

['egg', 'milk', 'bread']
milk
['egg', 'milk']

In [14]:
#Append
shopping_list.append('orange juice')
print(shopping_list)

['egg', 'milk', 'bread', 'orange juice']

In [15]:
#.pop > to remove the last listed
shopping_list.pop()

'orange juice'

In [16]:
print(shopping_list)

['egg', 'milk', 'bread']

In [17]:
#lenght
len(shopping_list)

3

In [18]:
#Dictionary >> {}
student = {
    'id' : 1,
    'name' : 'Toomtam',
    'age' : 30,
    'movies' : ['spider man', 'Harry potter', 'x-men']
}

type(student)

dict

In [19]:
student['name']

'Toomtam'

In [20]:
student['id']

1

In [23]:
student['movies'][0]

'spider man'

In [24]:
#Add key value
student['city'] = ' London'

In [25]:
student['city']

' London'

In [26]:
#update value
student['city'] = 'Mancehster'

In [27]:
student['city']

'Mancehster'

In [28]:
#remove key value
del student['city']

In [29]:
student['city']

KeyError: 'city'

In [31]:
#User_defined_function
def hello():
    print('Hello')
    print('I am learning python')
    
hello()

Hello
I am learning python

In [34]:
#Function with input
def hello(username):
    print('Hello '+ username)
    
hello('Toomtam')

Hello Toomtam

In [37]:
#Function with input
def hello(username):
    text = f'Hello {username}.'
    print(text)

    
hello('Toomtam')

Hello Toomtam.

In [39]:
#Function with multiple input
def my_sum(val1,val2):
    print(val1+val2)
   
my_sum(5,10)

15

In [42]:
#Function with multiple input
def my_sum(val1,val2):
    return val1+val2 #ใช้ return แทน print จะได้ฝากค่าได้ ละเอาไปใช้กับสูตรอื่นได้
   
result = my_sum(5,10)

print(result)

15

In [78]:
#OOP = object oriented programming
class Dog:
    name = 'Toomtam'
    age = 5
    color = 'Brown'
    breed = 'puddle'
    #Function(Dog method)
    def sitting(self):
        print('I am sitting now')
    def hungry(self,food_name):
        print(f'I am hungry, I need {food_name}!')

my_dog = Dog()
type(my_dog)

__main__.Dog

In [52]:
my_dog.name

'Toomtam'

In [53]:
my_dog.age

5

In [79]:
my_dog.sitting()

I am sitting now

In [80]:
#Basic_Python
salary = 10000
tax_rate = 0.2
salary_after_tax = salary * (1-tax_rate)
print(salary_after_tax)

8000.0

In [81]:
#Print
print('Hello world')

Hello world

In [82]:
simple_sum = 1 + 1
print(simple_sum)

2

In [83]:
5//2

2

In [84]:
5/2

2.5

In [91]:
5 % 2

1

In [93]:
2 ** 2

4

In [94]:
x = 10
y = 2
z = x ** y
print(z)

100

In [95]:
bar = 10
foo = -bar
print(foo)

-10

In [102]:
foo = True
bar = False
spam = 3.142
eggs = 1000000

print(type(foo))
print(type(bar))
print(type(spam))
print(type(eggs))

<class 'bool'>
<class 'bool'>
<class 'float'>
<class 'int'>

In [105]:
#insert
foo = []
foo.append('dog')
foo.append('cat')
print(foo)

['dog', 'cat']

In [106]:
foo.insert(0,'cow')

In [107]:
print(foo)

['cow', 'dog', 'cat']

In [108]:
del foo[0] # remove specific index

In [109]:
print(foo)

['dog', 'cat']

In [110]:
foo.pop() # remove the last listed

'cat'

In [111]:
foo.remove('dog') # remove specific value

In [112]:
print(foo)

[]

In [113]:
#tuple is immutable
foo = [1, 2, 3, 4, 5]
bar = (1, 2, 3, 4, 5)
print(foo)
print(bar)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [114]:
foo[1] = 999

In [116]:
print(foo)

[1, 999, 3, 4, 5]

In [117]:
bar[1] = 999 #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [118]:
import random as rnd ##### import funtion

In [123]:
u = rnd.randint(1,100)
print(f'I generate a random integer {u}')

I generate a random integer 87

In [124]:
from random import randint, gauss

In [136]:
u1 = randint(1,100)
u2 = gauss(0,1)
print(f'I sample from a random int {u1} and a normal distributed value {u2}')

I sample from a random int 5 and a normal distributed value 0.6995980309636171

In [140]:
deg_celsius = 20
fahrenheit = 9.0/5.0 * deg_celsius + 32
print(fahrenheit)

deg_celsius = 10
fahrenheit =9.0/5.0 * deg_celsius + 32
print(fahrenheit)

68.0
50.0

In [147]:
#function
def convert_celsius_to_fahrenheit(deg_celsius):
    fahrenheit = 9.0/5.0 * deg_celsius + 32
    print(f'{deg_celsius} degree celsius equal to {fahrenheit} degree fahrenheit.')
    
convert_celsius_to_fahrenheit(20)

20 degree celsius equal to 68.0 degree fahrenheit.

In [163]:
#function
def convert_celsius_to_fahrenheit(deg_celsius):
    deg_fahrenheit = 9.0/5.0 * deg_celsius + 32
    return deg_fahrenheit
   
fahrenheit = convert_celsius_to_fahrenheit(22)
print(fahrenheit)

71.6

In [164]:
from math import pi

In [165]:
def area_of_circle(radius):
    area = pi * radius ** 2
    return area

area_of_circle(5)

78.53981633974483

In [195]:
def list_info(data):
    list_sum = sum(data)
    list_length = len(data)
    list_mean = list_sum / list_length
    return list_sum, list_length, list_mean

data = [1, 2, 3, 4, 5]

result = list_info(data)
print(result)
print(f" the value 'result': {result} has type {type(result)}")

data_sum, data_length, data_mean = list_info(data)
print(f'separate variable : sum {data_sum}, length {data_length}, mean {data_mean}')

(15, 5, 3.0)
 the value 'result': (15, 5, 3.0) has type <class 'tuple'>
separate variable : sum 15, length 5, mean 3.0

In [201]:
def list_info(data):
    list_sum = sum(data)
    list_length = len(data)
    list_mean = list_sum / list_length
    return list_sum, list_length, list_mean

data = [1, 2, 3, 4, 5]

result = list_info(data)
print(result)
print(f" the value 'result': {result} has type {type(result)}")
print(f'separate variable : sum {data_sum}, length {data_length}, mean {data_mean}')

(15, 5, 3.0)
 the value 'result': (15, 5, 3.0) has type <class 'tuple'>
separate variable : sum 15, length 5, mean 3.0

In [ ]:
#Boolean operators
a == b
a != b
a <= b
a >= b
a < b
a > b

In [202]:
age = 25
print(age >= 40)
print(age < 40)
print(age == 25)

False
True
True

In [203]:
#conditional logic
number = 5
if number > 2:
    print('Number > 2!')
else:
    print('Number <= 2')

Number > 2!

In [204]:
#more complex if then
lower_limit = 10
upper_limit = 15

number_to_check = 12
if number_to_check >= lower_limit and number_to_check <= upper_limit:
    print('number is inside range')
else:
    print('number is outside range')

number is inside range

In [205]:
#elif
age = 32
pensionable_age = 68

if age < 0:
    print('Error. Please enter an age greater than zero')
elif age < pensionable_age:
    years_to_pensionable = pensionable_age - age
    print(f'There are {years_to_pensionable} years until you can draw your pension!')
else:
    print('You are eligible to draw your pension')

There are 36 years until you can draw your pension!

In [207]:
#elif
age = 32
pensionable_age = 68

if age < 0:
    print('Error. Please enter an age greater than zero')
elif age < pensionable_age:
    print(f'There are {pensionable_age - age} years until you can draw your pension!')
else:
    print('You are eligible to draw your pension')

There are 36 years until you can draw your pension!

In [208]:
#function and if statement
def eligible_for_pension(age):
    return age >= 68

In [212]:
age = 68

if eligible_for_pension(age):
    print('Congratulation! you can retire!')
else :
    print('You are not yet eligible for your pension')

Congratulation! you can retire!

In [213]:
#if not
age = 68
if not eligible_for_pension(age):
    print('You are not yet eligible for your pension')
else:
    print('Congratulation! you can retire!')

Congratulation! you can retire!

In [214]:
#Nested(ซ้อน) if statements
def stamp_duty(house_price, first_time_buyer):
    if first_time_buyer:
        #this if statment is nested within the first
        if house_price <= 300000:
            return 0.0
        else:
            return house_price * 0.05
    else:
        if house_price < 125000:
            return 0.0
        else:
            return house_price * 0.05

In [217]:
my_first_house_price = 310000
owed = stamp_duty(my_first_house_price,True)
print('stamp duty owed = ฿{0}'.format(owed)) #.format
print(owed)

stamp duty owed = ฿15500.0
15500.0

In [218]:
#for loop : if we know the number of iteration in advance
#while loop : if we do not know the number of iteration in advance

#while loop follow by boolean
age = 15

while age <=18:   # age <= 18 is boolean
    print(f'you are curently {age} years old')
    age += 1

you are curently 15 years old
you are curently 16 years old
you are curently 17 years old
you are curently 18 years old

In [219]:
def fizzbuzz(n):
    if n % 3 == 0 and n % 5 == 0:
        print('fizzbuzz')
    elif n % 3 == 0:
        print('fizz')
    elif n % 5 == 0:
        print('buzz')
    else:
        print(n)

In [221]:
n = 1
limit = 15 #beware of infinite loops!

while n <= limit:
    fizzbuzz(n)
    n += 1

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [225]:
list_to_search = ['we', 'are', 'the', 'knight', 'who', 'say', 'ni']
not_found = True
word_to_find = 'knight'
current_index = 0
index_of_word = -1 #ใส่มาทำไม

while not_found:
    if list_to_search[current_index] == word_to_find:
        not_found = False
        index_of_word = current_index
    current_index += 1
print(f"the word '{word_to_find}' is located in index {index_of_word}")

the word 'knight' is located in index 3

In [238]:
list_to_search = ['we', 'are', 'the', 'knight', 'who', 'say', 'ni']
not_found = True
word_to_find = 'you'
current_index = 0
index_of_word = -1 #ใส่มาทำไม
word_count = len(list_to_search)

while not_found and current_index < word_count:
    if list_to_search[current_index] == word_to_find:
        not_found = False
        index_of_word = current_index
    current_index += 1
if not_found:
    print(f"'{word_to_find}' could not be found")
else:
    print(f"the word '{word_to_find}' is located in index {index_of_word}")

'you' could not be found

In [240]:
#for loop : for...in range():

for age in range(5):
    print(f'you are currently {age} years old')

you are currently 0 years old
you are currently 1 years old
you are currently 2 years old
you are currently 3 years old
you are currently 4 years old

In [243]:
for age in range(1,5):     #range((incusive,default=0),end(exclusive),step)
    print(f'you are currently {age} years old')

you are currently 1 years old
you are currently 2 years old
you are currently 3 years old
you are currently 4 years old

In [244]:
#range((incusive,default=0),end(exclusive),step)
for age in range(1,5,2):
    print(f'you are currently {age} years old')

you are currently 1 years old
you are currently 3 years old

In [248]:
limit = 15

for n in range(1,limit+1):
    fizzbuzz(n)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [250]:
#Nested loops
for outer_index in range(3):
    print(f'Outer loop iteration: {outer_index}')
    
    for inner_index in range(5):
        print(f'\tInner loop iteration: {inner_index}') #\t = tap

Outer loop iteration: 0
	Inner loop iteration: 0
	Inner loop iteration: 1
	Inner loop iteration: 2
	Inner loop iteration: 3
	Inner loop iteration: 4
Outer loop iteration: 1
	Inner loop iteration: 0
	Inner loop iteration: 1
	Inner loop iteration: 2
	Inner loop iteration: 3
	Inner loop iteration: 4
Outer loop iteration: 2
	Inner loop iteration: 0
	Inner loop iteration: 1
	Inner loop iteration: 2
	Inner loop iteration: 3
	Inner loop iteration: 4

In [257]:
#Nested loops
for outer_index in range(2):
    print(f'Outer loop iteration: {outer_index}')
    
    for inner_index in range(5,0,-1):  #ถ้าย้อนกลับ step ต้องติดลบ
        print(f'\tInner loop iteration: {inner_index}') #\t = tap

Outer loop iteration: 0
	Inner loop iteration: 5
	Inner loop iteration: 4
	Inner loop iteration: 3
	Inner loop iteration: 2
	Inner loop iteration: 1
Outer loop iteration: 1
	Inner loop iteration: 5
	Inner loop iteration: 4
	Inner loop iteration: 3
	Inner loop iteration: 2
	Inner loop iteration: 1

In [302]:
for outer_index in range(1,6):
    for inner_index in range(1 , outer_index + 1):
        print(inner_index,end='')  #default end of print is '\n' ทำให้ปริ้นบรรทัดถัดไป ถ้าแก้เป็น end=''ว่างเปล่า มันจะปริ้นบรรทัดเดียวกัน 
    #new line
    print('')

1
12
123
1234
12345

In [ ]:
#:.2f = rounded to 2 decimal places(2dp)
#:.3f = rounded to 3 decimal place(3dp)

In [303]:
#Exercise1
print(6*5*4*3*2*1)

720

In [316]:
#Exercise2
width = [1, 2]
height = [3, 5, 6]
depth = [4, 2]
fourth_variable = width + height + depth
print(f' {width} is {type(width)}')
print(f' {height} is {type(height)}')
print(f' {depth} is {type(depth)}')
print(f' {fourth_variable} is {type(fourth_variable)}')

 [1, 2] is <class 'list'>
 [3, 5, 6] is <class 'list'>
 [4, 2] is <class 'list'>
 [1, 2, 3, 5, 6, 4, 2] is <class 'list'>

In [318]:
#Exercise
import math

help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.10/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/tqopmtam/anaconda3/lib/python3.10/lib-dynload/math.cpython-310-darwin.so

In [319]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(x, /)
    Find x!.

    Raise a ValueError if x is negative or non-integral.

In [327]:
math.factorial(6)

720

In [355]:
#Exercise 4
deg_fahrenheit = 20
deg_celsius = (deg_fahrenheit - 32) / (9.0/5.0)
print(round(deg_celsius,2))

deg_fahrenheit = 100
deg_celsius = (deg_fahrenheit - 32) / (9.0/5.0)
print(round(deg_celsius,2))

-6.67
37.78

In [360]:
#Exercise 5
distance_travelled = 10 #metre
time_taken = 5 #second
velocity = distance_travelled / time_taken #m/s
print(f'velocity is {velocity} m/s when distance travelled is {distance_travelled} m and time taken is {time_taken} s.')

distance_travelled = 100 #metre
time_taken = 0.12 #second
velocity = distance_travelled / time_taken #m/s
print(f'velocity is {round(velocity,2)} m/s when distance travelled is {distance_travelled} m and time taken is {time_taken} s.')

velocity is 2.0 m/s when distance travelled is 10 m and time taken is 5 s.
velocity is 833.33 m/s when distance travelled is 100 m and time taken is 0.12 s.

In [382]:
#Exercisr 6
comics = ['Iron-man', 'Captain America', 'Spider-man','Thor', 'Deadpool']

print(comics[0:2]) #slice use : between, range use , between
print(comics[1:4])
print(comics[3:5])
comics.append('Doctor Strange')
print(comics)
comics.insert(4,'Headpool')
print(comics)
del comics[0]
print(comics)

['Iron-man', 'Captain America']
['Captain America', 'Spider-man', 'Thor']
['Thor', 'Deadpool']
['Iron-man', 'Captain America', 'Spider-man', 'Thor', 'Deadpool', 'Doctor Strange']
['Iron-man', 'Captain America', 'Spider-man', 'Thor', 'Headpool', 'Deadpool', 'Doctor Strange']
['Captain America', 'Spider-man', 'Thor', 'Headpool', 'Deadpool', 'Doctor Strange']

In [393]:
#sort
data = [5, 7, 6, 4, 3, 2, 1]

data.sort(reverse=True)
print(data)

[7, 6, 5, 4, 3, 2, 1]

In [394]:
result1 = max(data)
result2 = min(data)
print(result1)
print(result2)

7
1

In [473]:
word = 'eiei'
result = split_word_in_two(word)
print(' Part 1 = {0} : part2 = {1}'.format(result[0],result[1]))

 Part 1 = ei : part2 = ei

In [467]:
def split_word_in_two(to_split):
    """
    Returns string split into two parts

    If the word's length is even the two parts have
    equal number of characters

    Params:
    -------
    to_split: str 
        the string to split int o
    """
    length = len(to_split)
    half_length = length // 2

    part1 = to_split[:half_length]
    part2 = to_split[half_length:]

    return part1, part2


def main():
    """
    Tests the split_word_in_two function.
    Input word = 'faster'
    Expected output = ('fas', 'ter')
    """
    word_to_split = 'faster'
    result = split_word_in_two(word_to_split)
    print('Part 1 = {0}; Part 2 = {1}'.format(result[0], result[1]))

if __name__ == "__main__":
        main()

In [466]:

def split_word_in_two(to_split):
    """
    Returns string split into two parts

    If the word's length is even the two parts have
    equal number of characters

    Params:
    -------
    to_split: str 
        the string to split int o
    """
    length = len(to_split)
    half_length = length // 2
    part1 = to_split[:half_length]
    part2 = to_split[half_length:]
    return part1, part2

A = 'faster'
part1, part2 = split_word_in_two(A)
print(part1)

fas

In [455]:
def split_list(a_list):
    half = len(a_list)//2
    return a_list[:half], a_list[half:]

A = [1,2,3,4,5,6]
B, C = split_list(A)
print(B)

[1, 2, 3]