In [1]:
number1 = 20
number2 = 30
print(number1*number2)

600

In [4]:
number1 = 40
number2 = 30
print(number1 + number2)

70

In [12]:
limit = 10
for n in range(limit):
    if n == 0:
        print(f'current_num is {n} previous number is {n} Sum : { n + n}')
    else:
        print(f'current_num is {n} previous number is {n-1} Sum : { n + (n-1)}')

current_num is 0 previous number is 0 Sum : 0
current_num is 1 previous number is 0 Sum : 1
current_num is 2 previous number is 1 Sum : 3
current_num is 3 previous number is 2 Sum : 5
current_num is 4 previous number is 3 Sum : 7
current_num is 5 previous number is 4 Sum : 9
current_num is 6 previous number is 5 Sum : 11
current_num is 7 previous number is 6 Sum : 13
current_num is 8 previous number is 7 Sum : 15
current_num is 9 previous number is 8 Sum : 17

In [16]:
for index in range(len('pynative')):
    print('pynative'[index])

p
y
n
a
t
i
v
e

In [31]:
def remove_chars(word,n):
    reduce = n
    if n < len(word):
        new_word = word[reduce:]
        print(new_word)
    else:
        print(' n must be less than lenght of string')
    
remove_chars('pynative',4)

tive

In [37]:
def check_first_last_num(list):
    if list[0] == list[len(list)-1]:
        print('result is True')
    else:
        print('result is False')
        
list1 = [10, 20, 30, 40, 10]
check_first_last_num(list1)

list2 = [75, 65, 35, 75, 30]
check_first_last_num(list2)

result is True
result is False

In [38]:
given_list = [10, 20, 33, 46, 55]
for index in range(len(given_list)):
    if given_list[index] % 5 == 0 :
        print(given_list[index])

10
20
55

In [41]:
str_x = 'Emma is good developer. Emma is a writer'
print(f"Emma appeared {str_x.count('Emma')} times")

Emma appeared 2 times

In [76]:
for outer_n in range(1,6):
    for inner_n in range(1,outer_n):
        print(outer_n,end='')
    print(outer_n)

1
22
333
4444
55555

In [ ]:
#palindrome
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

In [22]:
#palindrome
def palindrome(number):
    reverse_num = 0
    while number > 0:
        digit = number % 10
        reverse_number = (reverse_num * 10) + digit
        number = number // 10
    if number == reverse_num:
        print('this number is palindrome')
    else:
        print('this number is not')
        
palindrome(125)
palindrome(121)

this number is palindrome
this number is palindrome

In [92]:
list1 =[10, 20, 25, 30, 35]
list2 =[40, 45, 60, 75, 90]
def merge_list(list1,list2):
    
    new_list = []
    for index in range(len(list1)):
        if list1[index] % 2 != 0:
            new_list.append(list1[index])
    for index in range(len(list2)):
        if list2[index] % 2 == 0:
            new_list.append(list2[index])
    return new_list

print('result list :',merge_list(list1,list2))

result list [25, 35, 40, 60, 90]

In [94]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

TypeError: object of type 'int' has no len()

In [3]:
number = 7536
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit,end='')

6357

In [27]:
for outer_n in range(1,6):
    for inner_n in range(1,outer_n+1):
        print(outer_n,end='')
    print('')

1
22
333
4444
55555

In [32]:
number2 = 789012345
while number2 > 0:
    digit2 = number2 % 10
    number2 = number2 // 10
    print(digit2,end='')

543210987

In [35]:
def income_tax(income):
    if income <= 10000:
        tax = 10000*0
    elif income > 10000 and income <= 20000:
        tax = (income-10000)*0.01
    else:
        tax = ((income-20000)*0.2) + 10000*0.1
    return tax

income = 45000
result = income_tax(income)
print(result)

6000.0

In [59]:
for outer_n in range(1,11):
    for inner_n in range(1,11):
        print(inner_n*outer_n, end='')
    print('')

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [82]:
for outer_n in range(6,0,-1):
    for inner_n in range(0,outer_n-1):
        print('*',end ='')
    print('')

*****
****
***
**
*

In [91]:
def exponent(base,exp):
    result = 1
    while exp > 0:
        result = result * base
        exp -=1
    print(result)

exponent(5,4)

625