In [36]:
import pandas as pd
data = pd.read_csv('access-code.csv',sep=';',header = 0)
print(data)

   Identifier First name Last name
0      901242     Rachel    Booker
1      207074      Laura      Grey
2      408129      Craig   Johnson
3      934600       Mary   Jenkins
4      507916      Jamie     Smith

In [29]:
data.columns

Index(['Identifier', 'First name', 'Last name'], dtype='object')

In [30]:
data.shape

(5, 3)

In [31]:
data.head(1)

   Identifier First name Last name
0      901242     Rachel    Booker

In [46]:
column_header = list(data.head(0))

In [47]:
print(column_header)

['Identifier', 'First name', 'Last name']

In [51]:
data['Identifier']

0    901242
1    207074
2    408129
3    934600
4    507916
Name: Identifier, dtype: int64

In [53]:
data.Identifier.head(2)

0    901242
1    207074
Name: Identifier, dtype: int64

In [58]:
data.columns = ['ID','First name', 'Last name']

In [57]:
data.columns

Index(['Identifier', 'First name', 'Last name'], dtype='object')

In [61]:
print(data)

       ID First name Last name
0  901242     Rachel    Booker
1  207074      Laura      Grey
2  408129      Craig   Johnson
3  934600       Mary   Jenkins
4  507916      Jamie     Smith

In [72]:
data['ID','Last name'].head()

KeyError: ('ID', 'Last name')

In [75]:
data.to_cvs('TT.cvs',sep = ';')

AttributeError: 'DataFrame' object has no attribute 'to_cvs'

       ID First name Last name
0  901242     Rachel    Booker
1  207074      Laura      Grey
2  408129      Craig   Johnson
3  934600       Mary   Jenkins
4  507916      Jamie     Smith

AttributeError: 'DataFrame' object has no attribute 'to_cvs'

In [80]:
data.to_csv('TTT.csv')